.nav li a {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 600;
}

#name_head {
  font-family: "Figtree", sans-serif;
  font-style: normal;
  font-weight: 900;
}

#name_sub {
  font-family: "Long Cang", cursive;
  font-style: normal;
  font-weight: 400;
}

#about_title {
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: 500;
}

#about_content p {
  font-family: "Long Cang", cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

#footer_items p {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
