body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: rgb(255, 255, 240);
}

.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_container::-webkit-scrollbar {
  width: 10px;
}

.home_container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.home_container::-webkit-scrollbar-thumb {
  background: #888;
}

.home_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
section {
  width: 100%;
  height: 100vh;
}

header {
  width: 500px;
  height: 50px;
  position: sticky;
  top: 5px;
  z-index: 11;
  background: rgba(112, 106, 110, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(77, 73, 79, 0.6);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  font-weight: 800;
}

/**hero**/

.hero {
  max-height: 900px;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hero::-webkit-scrollbar {
  display: none;
}
.side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(112, 106, 110, 0.7);
  box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.2),
    0px 3px 120px rgba(0, 0, 0, 0.1);
}

.img_container {
  width: 50%;
  height: max-content;
  background-color: rgba(92, 96, 97, 0.9);
  transform: translateY(25%);
}

#profile_img {
  filter: drop-shadow(50px 10px 0 rgb(35, 43, 43, 0.3));
  transform: translateX(-26%);
  z-index: 3;
}

#profile_decor {
  width: 400px;
  height: 400px;
  position: absolute;
  transform: translate(70%, -30%);
  filter: opacity(0.5) grayscale(80%);
}

.name_plate {
  width: 100%;
  height: 100%;
  z-index: 5;
}

.name_head {
  font-size: 100px;
  transform: translateY(250%);
  line-height: 70px;
  color: rgb(237, 234, 224);
}

.name_sub {
  width: 100%;
  font-size: 85px;
  line-height: 40px;
  transform: translateY(650%);
  z-index: 6;
}

/**support**/

.about {
  width: 100%;
  height: 900px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 240);
}

.about_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#about_img_bg {
  width: 50%;
  max-width: 600px;
  height: 800px;
  background-image: url(../assets/abt-image.png);
  background-size: cover;
}

#about_img_ctr {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
}

#about_img_ctr img {
  width: 100%;
  height: 450px;
  object-position: 40%;
  object-fit: cover;
  filter: brightness(110%);
  transform: translateY(40%);
}

.about_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2),
    0px 3px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(112, 106, 110, 0.2);
}

.about_content p {
  width: 80%;
}

.about_title {
  width: 250px;
  height: max-content;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 550px;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}

.icons div {
  width: 120px;
  height: 120px;
  display: flex;
  padding-left: 2px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.3),
    0px 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.icons div img {
  width: 100px;
  height: 100px;
}

.icons div:first-child {
  background-color: rgb(231, 132, 0);
}

.icons div:nth-child(2) {
  background-color: rgb(42, 82, 190);
}

.icons div:nth-child(3) {
  background-color: rgb(254, 223, 0);
}
.icons div:nth-child(4) {
  padding-left: 10px;
  background-color: #3a3638;
}

.icons div:last-child {
  padding-left: 10px;
  background-color: #ffffff;
}

.stack {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 120px 0 120px;
}

#mongodb_icon,
#react_icon,
#ne_icon,
#gitlab_icon {
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2),
    0px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#mongodb_icon {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-size: contain;
  background-image: url(../assets/mongodb-icon.png);
  background-repeat: no-repeat;
}

#react_icon {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-position: 59%;
  background-size: cover;
  background-image: url(../assets/react-icon.png);
  background-repeat: no-repeat;
}

#ne_icon {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-size: contain;
  background-image: url(../assets/node-express-icon.png);
  background-repeat: no-repeat;
}
#gitlab_icon {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-size: 90%;
  background-position: 50%;
  background-image: url(../assets/gitlab-logo.png);
  background-repeat: no-repeat;
}

/**works**/

.works {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.cards {
  width: 80%;
  height: max-content;
  padding: 20px 0;
  overflow-x: scroll;
  border-radius: 8px;
  box-shadow: inset 5px 5px 15px rgba(112, 106, 110, 0.5);
  border: 3px solid rgba(112, 106, 110, 0.2);
}

#cards_ctr {
  width: max-content;
  height: 350px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#bukopan {
  width: 250px;
  height: 100%;
  background-image: url(../assets/proj1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: luminosity;
  background-color: rgb(14, 12, 10);
}

#pitikbulag {
  width: 250px;
  height: 100%;
  background-image: url(../assets/PitikBulag.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-blend-mode: luminosity;
  background-color: rgb(14, 12, 10);
}

#p3_p4 {
  width: 250px;
  height: 100%;
  background-image: url(../assets/p3-p4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-blend-mode: luminosity;
  background-color: rgb(14, 12, 10);
}

#p3_p4 {
  width: 250px;
  height: 100%;
  background-image: url(../assets/p3-p4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-blend-mode: luminosity;
  background-color: rgb(14, 12, 10);
}
#branded {
  width: 250px;
  height: 100%;
  background-image: url(../assets/brandedapp.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-blend-mode: luminosity;
  background-color: rgb(14, 12, 10);
}

#placeholder1 {
  width: 250px;
  height: 100%;
  background-image: url(../assets/proj-placeholder.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-blend-mode: luminosity;
  background-color: rgb(14, 12, 10);
}

#cards_ctr div {
  max-width: 250px;
  height: 100%;
  border: 1px solid white;
  filter: drop-shadow(5px 5px 5px dimgray);
}

#bukopan:hover,
#pitikbulag:hover,
#p3_p4:hover, #branded:hover {
  background-blend-mode: normal;
}

/**footer**/
footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/footer_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(92, 96, 97, 0.2);
  border-top: 2px solid rgba(112, 106, 110, 0.2);
}

.footer_items p {
  width: max-content;
  height: max-content;
  line-height: 1.2px;
}

.footer_icons img {
  width: 30px;
  height: 30px;
}

#footer_git {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-image: url(../assets/gitlab-logo.png);
}

/**media queries**/

@media screen and (max-width: 3840px) {
  .name_head {
    font-size: 80px;
    line-height: 56px;
    transform: translateY(600%);
  }

  .name_sub {
    font-size: 65px;
    transform: translateY(650%);
  }
}

@media screen and (max-width: 1440px) {
  .name_head {
    font-size: 100px;
    line-height: 71px;
    transform: translateY(200%);
  }

  .name_sub {
    font-size: 65px;
    transform: translateY(470%);
  }
}
@media screen and (max-width: 1220px) {
  .name_head {
    font-size: 70px;
    line-height: 49px;
    transform: translateY(470%);
  }

  .name_sub {
    font-size: 45px;
    transform: translateY(990%);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 800px;
  }
  .name_head {
    font-size: 70px;
    line-height: 49px;
    transform: translateY(600%);
  }

  .name_sub {
    font-size: 45px;
    transform: translateY(1300%);
  }

  .about {
    height: 700px;
  }

  .about_container {
    width: 100%;
    padding-right: 10px;
  }

  #about_img_bg {
    height: 600px;
  }

  #about_img_ctr img {
    height: 380px;
    object-position: 0 -30px;
    transform: translateY(33%);
  }
  .about_content {
    width: 60%;
  }

  .icons {
    width: 80%;
    flex-wrap: wrap;
  }

  .icons div,
  .icons div img {
    width: 50px;
    height: 50px;
  }

  #mongodb_icon,
  #react_icon,
  #ne_icon,
  #gitlab_icon {
    width: 50px;
    height: 50px;
  }

  .works {
    height: 700px;
  }

  footer {
    background-image: none;
  }

  .footer_items {
    width: 50%;
  }
}

@media screen and (max-width: 412px) {
  .home_container {
    display: block;
  }

  .hero {
    width: 100%;
    height: 100%;
    overflow: unset;
  }

  header {
    width: 100%;
  }

  .img_container {
    width: 100%;
    height: 800px;
    overflow: block;
    background-color: rgba(92, 96, 97, 0.5);
    transform: translateY(5%);
  }

  #profile_img {
    width: 500px;
    height: 500px;
    filter: drop-shadow(50px 10px 0 rgb(35, 43, 43, 0.3));
    transform: translate(-14%, 10%);
    z-index: 3;
  }

  .name_head {
    position: absolute;
    font-size: 70px;
    line-height: 49px;
    transform: translate(2%, 220%);
  }

  .name_sub {
    width: max-content;
    position: absolute;
    font-size: 50px;
    transform: translate(2%, 830%);
  }

  .about {
    margin-top: 0;
    height: 500px;
  }

  #about_img_bg {
    display: none;
  }

  .about_content {
    width: 95%;
    margin-top: 200px;
  }

  .icons {
    width: 100%;
    flex-wrap: wrap;
  }

  .icons div,
  .icons div img {
    width: 50px;
    height: 50px;
  }

  #mongodb_icon,
  #react_icon,
  #ne_icon,
  #gitlab_icon {
    width: 50px;
    height: 50px;
  }

  .works {
    margin-top: 200px;
    height: 500px;
  }
}
